/* All styles */
* {
    margin: 0px;
}


.primary {
    color: red;
}

/* navigation section styles */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: gray;
    padding: 10px;
}


.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 24px;
    color: white;
}


/* banner section styles */
.banner-container {
    height: 100vh;
    background-image: url("asset/image/background.jpg"),
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-position: center;
    text-align: center;

    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

}


.banner-info {
    width: 60%;
    margin: auto;
}


.title {
    font-size: 55px;
    font-weight: bold;
    color: white;
}


.description {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}


.btn {
    padding: 12px 20px;
    border: none;
}


.bg-primary {
    background-color: red;
    color: white;
}


/* service section styles */

.service-container {
    height: 100vh;
    background-image: url("asset/image/footer-bg.png"),
    linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 100px;
}


.icon {
    width: 70px;
    margin-bottom: 20px;
}


.box {
    width: 150px;
    height: 100px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
    text-align: center;
}


.service-description {
    width: 50%;
    margin: 20px 0px;
}


.first-two-box {
    display: flex;
    gap: 3px;
    margin-top: 3px;
}

.author-img {
    width: 75px;
    height: 75px;
    border-radius: 35px;
    margin-right: 6px;
}


.author-container {
    display: flex;
    gap: 20px;
    align-items: center;
}


.profile-container {
    display: flex;
    align-items: center;
    border-right: 1px solid grey;
    padding-right: 20px;
    margin-top: 20px;
}


/* appointment style starts  */
.phone-call {
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    padding-right: 20px;
}


.appointment-container {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: red;
    border-radius: 10px;
    margin-top: -40px;
    align-items: center;
    gap: 20px;
    color: white;
}


.btn-service {
    border-radius: 10px;
    padding: 10px 60px;
}


.blog-title {
    color: black;
    text-align: center;
    margin: 50px;
}


.blog-description {
    width: 50%;
    margin: auto;
    text-align: center;
    font-size: 25px;
    margin-bottom: 50px;
}


.card {
    width: 220px;
    height: 300px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
}
.blog-img {
    width: 100%;
    border-radius: 5px;
}


.card-title {
    margin: 10px 0px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 30px;
}